<p><%= @user_name %>,</p>

<p>We hope you've had lots of fun creating wedding plans. If not, click the link below to get started.</p>

<p><%=link_to "Start Now!", root_url %></p>

Thanks for joining our community!

<p>Sincerely,<br />
Bridled Team</p>
