<p><%= @user_email %>,</p>

<p>You've nearly made it! Click the link below to get started with Bridezilla! Rawr!</p>

<p><%=link_to "Start Now!", root_url %></p>

<p>Sincerely,<br />
Bridezilla Team</p>
