$aqua: #3FB8AF;
$mud: #DAD8A7;
$light-aqua: #7FC7AF;
$baby-pink: #FF9E9D;
$bright-pink: #FF3D7F;
$main-border: $aqua;
$h1: $bright-pink;

body {
  background-color: #FAF8F5;
  background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px;
  font-family: helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
  }

.navigation {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  height: 80px;
  background-color: #FBF8F5;
  border-bottom: 1px solid #B8C45A;
  -webkit-box-shadow: 0 4px 2px -2px lightgray;
}

#nav-links {
  margin-right: 3.5%;
  float: right;
  padding-top: 45px;
  a {
    text-decoration: none;
    font-size: 12px;
    color: darkgray;
  }
}

#reg-link {
  text-align: center;
}

#form {
  margin-left: 20px;
  display: none;
}

#login-form {
  margin-left: 20px;
  display: none;
}


.nav-item {
  border: 1px solid $baby-pink;
  background: white;
  margin: 10px;
  margin-left: 10px;
  padding-left: 5px;
  -webkit-box-shadow: 0 5px 2px -2px lightgray;
  form {
    margin-bottom: 5px;
  }
}

//Root Path

#callout {
  background: url("/assets/resized.png");
  min-height: 300px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $main-border;
  h1 {
    text-align: right;
    padding-top: 5%;
    padding-right: 6%;
    font-size: 3em;
    color: #FF5EAA;
    line-height: 70px;
  }
  p {
    font-size: 1.3em;
    color: gray;
    text-align: right;
    padding-right: 6%;
  }
  #sign-up {
    margin-top: 10px;
    margin-right: 6%;
    float: right;
    position: relative;
    #browse {
      padding-top: 5px;
      padding-right: 1px;
      text-align: right;
      a {
        color: gray;
        text-decoration: none;
      }
      a:hover {
        color: $baby-pink;
      }
    }
  }
}

h1, h1 a {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
  color: $aqua;
}

h2, h2 a {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 50px;
  line-height: 70px;
  color: $aqua;
}

h3, h3 a {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 30px;
  line-height: 45px;
  color: $aqua;
}

h4, h4 a {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  color: #9F937D;
  font-size: 20px;
  line-height: 30px;
}

p, a, label, li {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: darkgray;
}

textarea {
  border:none;
}

#plus {
  background: url("https://s3.amazonaws.com/bride-items/add.png") no-repeat;
  line-height: 1.6;
  padding-left: 37px;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#wedding-ideas {
  margin-top: 10px;
  #search {
    margin-top: 20px;
  }
}

//Public wedding index

.wedding-bar {
  padding-left: 10px;
  border: 1px solid $baby-pink;
  -webkit-box-shadow: 0 10px 2px -2px lightgray;
  margin-bottom: 30px;
  background: white;
  overflow:auto;
  padding: 0px;
  position: relative;
  background-color: white;
  img {
    vertical-align: middle;
  }
  a.title {
    padding: 20px;
    margin-top: 90px;
    font-size: 2.5em;
    font-weight: bold;
    color: #9F937D;
    text-decoration: none;
  }
}

.show-details {
  text-align: left;
  margin-right: 10px;
  position: absolute; bottom: 0; left: 0;
  font-style: italic;
  color: #C3B5AC;
  font-size: 12px;
  a {
    margin: 3px;
    font-size: 12px;
  }
}

.details {
  margin-bottom: 10px;
  display: none;
}

.add-from-wed {
  margin-bottom: 10px;
  display: none;
}

.wedding-details {
  margin: 10px;
  display: none;
  input[type="text"] {
    width: 75%;
  }
  textarea {
    width: 75%;
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
  }
}

.time, .bottom-bar {
  text-align: right;
  margin-right: 10px;
  position: absolute; bottom: 0; right: 0;
  font-style: italic;
  color: #C3B5AC;
  font-size: 12px;
  a {
    margin: 3px;
    font-size: 12px;
  }
  }

//Wedding show

.bar {
  h2 {
    padding-top: 10px;
    margin-left: 160px;
    color: 9F937D;
    text-decoration: none;
  }
}

.item-bar {
  background: smoke;
  padding: 10px;
  border: 1px solid $baby-pink;
  position: relative;

  img.pin {
    max-height: 325px;
  }
  p.description {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  -webkit-box-shadow: 0 3px 2px -2px lightgray;
  margin-bottom: 40px;
  .image {

    text-align: center;
  }
}

p.description-heart {
    margin-bottom: 5px;
    margin-top: 10px;
  }

img.wed-heart {
  display: inline-block;
  margin: 0 74;
  margin-top: 0;
  padding-bottom: 10px;
  }

.search-box {
  width: 180px;
  margin: 10px;
  float: left;
  border: 1px solid $baby-pink;
  padding: 10px;
  background: white;
  img.heart {
    display: inline-block;
    margin: 0 74;
    margin-top: 10px;
  }
  p.description {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  form.search {
    display: none;
    select {
     width: 175px;
    }
  }
  -webkit-box-shadow: 0 3px 2px -2px lightgray;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid $baby-pink;
  background-color: #FBF8F5;
  h2 {
    margin-top: 20px;
    color: $bright-pink;
  }
  .wedding-example {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid $baby-pink;
    background-color: white;
    -webkit-box-shadow: 0 3px 2px -2px lightgray;
  }
}



